* {

}

.body-padding {
}

.nav-font a {
    font-size: 23px;
    color: #0f0f0f;
}

.nav-font a:hover {
    color: #337AB7;
}

.nav {
    width: 80%;
    margin: 0 auto;
}

.navbar {
}

.social {
}

.banner {
}